extends ../layouts/common.pug

block content
  h1 Create user

  if errors
    each error in errors
      .alert.alert-danger= error

  form(action="/users/create", method="POST", enctype="multipart/form-data")
    .form-group
      label(for="name") Name
      input#name.form-control(name="name", type="text", value=values ? values.name : "")

    .form-group
      label(for="phone") Phone
      input#phone.form-control(name="phone", type="text", value=values ? values.phone : "")

    .form-group
      label(for="avatar") Avatar
      input#avatar.form-control-file(name="avatar", type="file")

    button.btn.btn-primary Create
